In [15]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.5.3
1.24.1

In [17]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
rows = tuple('FGHIJ')

df = pd.DataFrame(np.random.randint(1, 10, size = (n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  9  5  4  7  8
1  3  4  8  5  8
2  5  9  6  4  5
3  2  1  5  4  9
4  3  8  7  9  3

In [13]:
tuple('ABCD')

('A', 'B', 'C', 'D')

In [18]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        9        5        4        7        8
1        3        4        8        5        8
2        5        9        6        4        5
3        2        1        5        4        9
4        3        8        7        9        3

In [ ]:
df.add_suffix('_field')